<form [formGroup]="paymentPlanForm" (submit)="calculate.emit()">
  <div class="flex flex-column flex-row-ns mb4 items-start">
    <div class="w-100 w-50-ns ba br2 b--med-blue">
      <div class="bg--med-blue pa2">
        <h2 class="white ma0 fw6 f5 f4-ns tc">Payment Plan</h2>
      </div>
      <div class="ph3">
        <div class="form-control">
          <label>
            <span>Mortgage Amount ($): *</span>
            <input type="number" formControlName="mortgageAmount" aria-label="Mortgage amount input">
          </label>
          <div *ngIf="hasError('mortgageAmount')">
            <p class="error">{{getError('mortgageAmount')}}</p>
          </div>
        </div>

        <div class="form-control">
          <label>
            <span>Interest Rate (%): *</span>
            <input type="number" formControlName="interestRate" aria-label="Interest rate input">
          </label>
          <div *ngIf="hasError('interestRate')">
            <p class="error">{{getError('interestRate')}}</p>
          </div>
        </div>

        <div class="form-control">
          <label>
            <span>Amortization Period: *</span>
            <select formControlName="amortizationYears" aria-label="Amortization period dropdown">
              <option *ngFor="let year of amortizationYears" [value]=year.value>{{year.label}}</option>
            </select>
          </label>
        </div>

        <div class="form-control">
          <label>
            <span>Payment Frequency: *</span>
            <select formControlName="paymentFrequency" aria-label="Payment frequency dropdown">
              <option *ngFor="let frequency of paymentFrequency" [value]="frequency.value">{{frequency.label}}</option>
            </select>
          </label>
        </div>

        <div class="form-control">
          <label>
            <span>Term: *</span>
            <select formControlName="term" aria-label="Term dropdown">
              <option *ngFor="let term of terms" [value]="term.value">{{term.label}}</option>
            </select>
          </label>
        </div>

        <div *ngIf="paymentPlanForm.errors?.crossFieldAmountError">
          <p class="mv2 red">Downpayment should be less than mortgage amount.</p>
        </div>
        <div *ngIf="paymentPlanForm.errors?.crossFieldPeriodError">
          <p class="mv2 red">Term should be less than amortization period.</p>
        </div>
      </div>
    </div>

    <div class="w-100 w-50-ns ba mt4 mt0-ns ml4-ns br2 b--med-blue">
      <div class="bg--med-blue pa2">
        <h2 class="white ma0 fw6 f5 f4-ns tc">Downpayment</h2>
      </div>
      <div class="ph3">
        <div class="form-control">
          <label>
            <span>Downpayment Amount ($):</span>
            <input type="number" formControlName="downpaymentAmount" aria-label="Downpayment input">
          </label>
          <div *ngIf="hasError('downpaymentAmount')">
            <p class="error">{{getError('downpaymentAmount')}}</p>
          </div>
        </div>

        <div class="form-control">
          <label>
            <span>Downpayment Percentage:</span>
            <input type="text" formControlName="downpaymentPercentage" disabled aria-label="Downpayment percentage">
          </label>
        </div>
    </div>
    </div>
  </div>

  <button type="submit" aria-label="calculate" class="m-auto pointer flex ph5 pv2 tc bg--med-blue white br-pill f5 f4-ns border-none">Calculate</button>

</form>
