<div lass="flex flex-column">
  <h2 class="dark-blue ff-titillium-web tc">Payment Schedule</h2>
  <table class="w-100">
    <tr class="heading">
      <th class="w-20">Period</th>
      <th class="w-20">Principal Payment</th>
      <th class="w-20">Interest Payment</th>
      <th class="w-20">Total Payment</th>
      <th class="w-20">Ending Balance</th>
    </tr>
    <tr>
      <th colspan="5">Term</th>
    </tr>
    <ng-container *ngFor="let payment of mortgageService.paymentSchedule; let index = index">
      <tr *ngIf="getYear(index)">
        <th colspan="5">Year {{getYear(index)}}</th>
      </tr>
      <tr>
        <th>Payment {{index + 1}}</th>
        <td>{{payment.principalPayment | currency: '$'}}</td>
        <td>{{payment.interestPayment | currency: '$'}}</td>
        <td>{{payment.totalPayment | currency: '$'}}</td>
        <td>{{payment.endingBalance | currency: '$'}}</td>
      </tr>
      <tr *ngIf="isEofYear(index)">
        <th>Year {{getYearTotals(index).year}} Totals</th>
        <th>{{getYearTotals(index).totals.principalPayment | currency: '$'}}</th>
        <th>{{getYearTotals(index).totals.interestPayment | currency: '$'}}</th>
        <th>{{getYearTotals(index).totals.totalPayment | currency: '$'}}</th>
        <th>{{getYearTotals(index).totals.endingBalance | currency: '$'}}</th>
      </tr>
      <tr *ngIf="isEofTerm(index)">
        <th>Term Totals</th>
        <th>{{getTermTotals().principalPayment | currency: '$'}}</th>
        <th>{{getTermTotals().interestPayment | currency: '$'}}</th>
        <th>{{getTermTotals().totalPayment | currency: '$'}}</th>
        <th>{{getTermTotals().endingBalance | currency: '$'}}</th>
      </tr>
      <tr *ngIf="isEofTerm(index)">
        <th colspan="5">After Term</th>
      </tr>
      <tr *ngIf="isEofPayments(index)">
        <th>After Term Totals</th>
        <th>{{getAfterTermTotals().principalPayment | currency: '$'}}</th>
        <th>{{getAfterTermTotals().interestPayment | currency: '$'}}</th>
        <th>{{getAfterTermTotals().totalPayment | currency: '$'}}</th>
        <th>{{getAfterTermTotals().endingBalance | currency: '$'}}</th>
      </tr>
      <tr *ngIf="isEofPayments(index)">
        <th>Mortgage Totals</th>
        <th>{{getMortgageTotals().principalPayment | currency: '$'}}</th>
        <th>{{getMortgageTotals().interestPayment | currency: '$'}}</th>
        <th>{{getMortgageTotals().totalPayment | currency: '$'}}</th>
        <th>{{getMortgageTotals().endingBalance | currency: '$'}}</th>
      </tr>
    </ng-container>
  </table>
  <div class="flex justify-center mt4">
    <a [routerLink]="['/mortgage-calculator']" class="pointer ph5 pv2 tc bg--med-blue white br-pill f5 f4-ns border-none no-underline" aria-label="Navigate to home">Home</a></div>
</div>
