<app-skip-to-target title="Skip To Main Content" targetId="main-content"></app-skip-to-target>
<header class="bg--light-blue ff-titillium-web pv2 flex items-center">
  <img src="assets/images/logo.png" class="h4" alt="logo"/>
  <div class="pl4">
    <h1 class="fw1 dark-blue f2 f1-ns mb0">Mortgage Calculator</h1>
    <p class="fw1 med-blue f5 f2-ns mt2">Plan ahead and estimate your monthly mortgage payments</p>
  </div>
</header>
<div id="main-content" class="pt1 pt3-ns pb3 pb5-ns ph3 ph5-ns ff-source-sans-pro dark-blue mw-1280-px center">
  <router-outlet></router-outlet>
</div>
